.tripHistory{

}

.tripHistory > li{
  width:110%;
  padding-left:5px;
}

.tripHistory > li > div.col1 > div.cont{
  width:100%;
}


.tripHistory > li > div.col1 > div.cont > div.cont-col2 > div.desc {
  background-image: url('../../../global/img/TripHistory/trip_up_arrow_gray.png'); 
  background-position: left; background-repeat: no-repeat; background-size: 10px 40px;
}


.tripHistory > li.selected >  div.col1 > div.cont > div.cont-col1, .tripHistory > li:hover > div.col1 > div.cont > div.cont-col1{
  font-weight:bold;
}

.tripHistory > li:hover > div.col1 > div.cont > div.cont-col2 > div.desc, .tripHistory > li.selected > div.col1 > div.cont > div.cont-col2 > div.desc{
  background-image: url('../../../global/img/TripHistory/trip_up_arrow_blue.png'); 
  color: #578EBE;
  font-weight:bold;
}


.tripHistory > li:hover > div.col1 > div.cont > div.cont-col2 > div.desc > div.stats{
  color:#A3B0B5;
}


.tripHistory > li > div.col1 > div.cont > div.cont-col2 > div.desc > div.stats {
  margin-top: 10px;
  padding-left:15px;
}

.tripHistory > li > div.col1 > div.cont > div.cont-col2 > div.desc > div.source {
  margin-top: 10px;
}


