<div class="page-bar">
  <ul class="page-breadcrumb">
    <li> <i class="fa fa-home"></i> <a href="#/dashboard">Home</a> <i class="fa fa-angle-right"></i> </li>
    <li> <a href="#/addEmail">Add Email/Phone</a> </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12"> 
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption"> <i class="fa fa-gift"></i> Add Email/Phone for Alerts</div>
        <!--<div class="tools"> <a href="" class="collapse"> </a> <a href="#portlet-config" data-toggle="modal" class="config"> </a> <a href="" class="reload"> </a> <a href="" class="remove"> </a> </div>-->
      </div>
      <div class="portlet-body form">
        <form class="form-horizontal" role="form">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Email </label>
              <div class="col-md-6">
                <div class="input-icon right"> <i class="fa fa-info-circle tooltips" data-original-title="First Email" data-container="body"></i>
                  <input type="text" placeholder="First Email" class="form-control">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-3 control-label">Email </label>
              <div class="col-md-6">
                <div class="input-icon right"> <i class="fa fa-info-circle tooltips" data-original-title=" Second Email" data-container="body"></i>
                  <input type="text" placeholder="Second Email" class="form-control">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-3 control-label">Phone </label>
              <div class="col-md-6">
                <div class="input-icon right"> <i class="fa fa-info-circle tooltips" data-original-title="First Phone" data-container="body"></i>
                  <input type="text" placeholder="First Phone" class="form-control">
                </div>
              </div>
            </div>
            
            
            <div class="form-group">
              <label class="col-md-3 control-label">Phone </label>
              <div class="col-md-6">
                <div class="input-icon right"> <i class="fa fa-info-circle tooltips" data-original-title="Second Phone" data-container="body"></i>
                  <input type="text" placeholder="Second Phone" class="form-control">
                </div>
              </div>
            </div>
            
            <div class="form-group">
				<label class="col-md-3 control-label">*</label>
				<div class="col-md-9">
					<p class="form-control-static">
						In case you want to add more phone numbers to alert list contact support team.
					</p>
				</div>
			</div>
            
            
            
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green">Submit</button>
                <button type="reset" class="btn default">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END SAMPLE FORM PORTLET--> 
    
  </div>
</div>

