<!-- BEGIN PAGE HEADER-->

<div class="page-bar">
  <ul class="page-breadcrumb">
    <li> <i class="fa fa-home"></i> <a href="#/dashboard.html">Home</a> <i class="fa fa-angle-right"></i> </li>
    <li> <a href="#/dashboard.html">All Devices Root</a> </li>
  </ul>
</div>
<h3 class="page-title"> All Devices Root </h3>
<!-- END PAGE HEADER--> 
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController"> 
  <!-- BEGIN DASHBOARD STATS -->
  <div class="row">
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue-madison ">
        <div class="visual"> <i class="fa fa-comments"></i> </div>
        <div class="details">
          <div class="number">{{stats.alerts}} </div>
          <div class="desc"> Alerts </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat red-intense ">
        <div class="visual"> <i class="fa fa-bar-chart-o"></i> </div>
        <div class="details">
          <div class="number"> Total Kms :{{stats.totalKms}} </div>
          <div class="desc"> Overall Average: {{stats.overall_avg}} </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-haze ">
        <div class="visual"> <i class="fa fa-shopping-cart"></i> </div>
        <div class="details">
          <div class="number"> {{stats.totalLandingTime}} Hrs </div>
          <div class="desc"> Total Landing Time </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat purple-plum ">
        <div class="visual"> <i class="fa fa-globe"></i> </div>
        <div class="details">
          <div class="number"> {{stats.utilization}}% </div>
          <div class="desc"> Utilization % Per Day </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

  </div>
  
  <!-- END DASHBOARD STATS -->
  
  <div class="row">
    <div class="col-md-9"> 
      <!-- BEGIN MARKERS PORTLET-->
      <div class="portlet solid green">
        <div class="portlet-title">
          <div class="caption"> <i class="fa fa-gift"></i>All Device Location </div>
          <div class="tools"> 
            <a href="javascript:;" class="collapse"> </a> 
            <a href="#portlet-config" data-toggle="modal" class="config"> </a> 
            <a href="javascript:;" class="reload"> </a> 
            <a href="javascript:;" class="remove"> </a> 
          </div>
        </div>

        <div class="portlet-body">
          <div id="gmap_marker" class="gmaps"> 
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3"> 
      <div class="portlet box blue-hoki"> 
        <div class="portlet-title"> 
          <div class="caption"> <i class="fa fa-gift"></i> List of Vehicles </div> 
        </div> 
        <div class="portlet-body" >  
          <div class="mx-height-300"> 
            <a ng-repeat="device in devices" href="#singleDevice?device={{device.DeviceID}}" class="btn green btn-block margin-left-0">{{device.Vehicle}}</a> 
          </div>  
        </div> 
      </div> 
    </div> 
  </div> 



  <div class="portlet box blue-madison">
    <div class="portlet-title">
      <div class="caption"> <i class="fa fa-globe"></i>All Device Details </div>
      <div class="tools"> <a href="javascript:;" class="reload"> </a> <a href="javascript:;" class="remove"> </a> </div>
    </div>
    <div class="portlet-body">
      <table class="table table-striped table-bordered table-hover" id="sample_1">
        <thead>
          <tr>
            <th> Device ID </th>
            <th> Vehicle </th>
            <th> Info Recived Time </th>
            <th> Acc On/Off </th>
            <th> Location </th>
            <th> Speed </th>
            <th> Rpm </th>
            <th> Latitude </th>
            <th> Longitude </th>
            <th> Temprature </th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devices">
          <td>{{device.DeviceID}}</td>
          <td>{{device.Vehicle}}</td>
          <td>{{device.RecivedTime}}</td>
          <td>{{device.AccOnOff}}</td>
          <td>{{device.Location}}</td>
          <td>{{device.Speed}}</td>
          <td>{{device.Rpm}}</td>
          <td>{{device.Lat}}</td>
          <td>{{device.Lng}}</td>
          <td>{{device.Temprature}}</td>
         </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
TableAdvanced.init();
</script>
<!-- END MAIN CONTENT --> 
