<!-- BEGIN PAGE HEADER-->


<div class="page-bar">
  <ul class="page-breadcrumb">
    <li> <i class="fa fa-home"></i> <a href="#/dashboard.html">Home</a> <i class="fa fa-angle-right"></i> </li>
    <li> <a href="#/dashboard.html">Dashboard</a> </li>
  </ul>
</div>

<h3 class="page-title"> Fleet Dashboard </h3>
<!-- END PAGE HEADER--> 
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController"> 
  <!-- BEGIN DASHBOARD STATS -->
  <div class="row">
    <div class="col-sm-2">
      <div class="dashboard-stat blue-madison ">
        <div class="visual"> <i class="icon-bell"></i> </div>
        <div class="details">
          <div class="number">{{stats.unseen_alerts}} </div>
          <div class="desc"> Alerts </div>
        </div>
        <a class="more" href="#alerts"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat red-intense ">
        <div class="visual"> <i class="fa fa-bar-chart-o"></i> </div>
        <div class="details">
          <div class="number">{{stats.totalKms}} </div>
          <div class="desc"> Total Kms</div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat green-haze ">
        <div class="visual"> <i class="fa fa-shopping-cart"></i> </div>
        <div class="details">
          <div class="number"> {{stats.totalLandingTime}} <small>Hrs </small></div>
          <div class="desc"> Idling Time </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat purple-plum ">
        <div class="visual"> <i class="fa fa-globe"></i> </div>
        <div class="details">
          <div class="number"> {{stats.utilization}} <small>%</small> </div>
          <div class="desc"> Utilization Per Day </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat blue-madison">
        <div class="visual">
          <i class="fa fa-briefcase fa-icon-medium"></i>
        </div>
        <div class="details">
          <div class="number">
            {{stats.overall_avg}}
          </div>
          <div class="desc">
            Overall Average:
          </div>
        </div>
        <a class="more" href="javascript:;">
          View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
    </div>


  </div>

  <!-- END DASHBOARD STATS -->

  <div class="row">
    <div class="col-md-9"> 
      <!-- BEGIN MARKERS PORTLET-->
      <div class="portlet solid green">
        <div class="portlet-title">
          <div class="caption"> <i class="fa fa-gift"></i> Fleet Location </div>
          <div class="tools">
            <!--
            <a href="javascript:;" class="collapse"> </a> 
            <a href="#portlet-config" data-toggle="modal" class="config"> </a> 
            <a href="javascript:;" class="reload"> </a> 
            <a href="javascript:;" class="remove"> </a>  -->
          </div>
        </div>

        <div class="portlet-body">
          <div id="gmap_marker" class="gmaps"> 
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3"> 
      <div class="portlet box blue-hoki"> 
        <div class="portlet-title"> 
          <div class="caption"> <i class="fa fa-gift"></i> Fleet Information </div> 
        </div> 
        <div class="portlet-body" >  
          <div class="mx-height-500"> 
            <div class="scroller" style="height: 500px;" data-always-visible="1" data-rail-visible="0">
              <table class="table table-hover">
                <tbody>
                <tr ng-repeat="device in devices" ng-click="goToSingleDevicePage(device.DeviceID)" ng-mouseover="mapFocus(device.Lat, device.Lng)">
                  <td>
                    <small style="font-size:77%">
                      <b>Vehicle:</b> {{device.Vehicle}} ({{device.Brand}})<br/>
                      <b>AccOnOff:</b> {{device.AccOnOff}} <b>Speed:</b> {{device.Speed}} <b>RecivedTime:</b> {{timeFormat(device.RecivedTime)}} {{dateFormat(device.RecivedTime)}}<br/>
                      <b>Location:</b> {{device.Location}}<br/>
                    </small>
                    <td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>  
            </div> 
          </div> 
        </div> 
      </div> 

      <!-- END MAIN CONTENT --> 
