<div class="page-bar">
  <ul class="page-breadcrumb">
    <li> <i class="fa fa-home"></i> <a href="#/dashboard">Home</a> <i class="fa fa-angle-right"></i> </li>
    <li> <a href="#/drivingBoard">Driving Board</a> </li>
  </ul>
</div>


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12"> 
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption"> <i class="fa fa-gift"></i> Driving Board</div>
      </div>
      <div class="portlet-body">
      	
        <div class="row">
      	<div class="col-md-2 mar-tb-15 mar-0">
        	 <b>Vehicle Group</b>
        </div>
        <div class="col-md-10 mar-tb-15">
        	
            <div class="col-md-4">
            	<input type="text" class="form-control" placeholder="Vehicle" />
            </div>
            <div class="col-md-6">
            	<div class="input-group date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
					<input type="text" class="form-control" name="from" placeholder="Date From">
					<span class="input-group-addon">to </span>
					<input type="text" class="form-control" name="to" placeholder="Date to">
				</div>
            </div>
            
            <div class="col-md-2">
            	<button class="btn btn-large yellow table-group-action-submit"><i class="fa fa-check"></i> Filter</button>
            </div>
            
        </div>      
      </div>
      
      
      <div class="row margin-top-15">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue-madison">
        <div class="visual"> <i class="fa fa-comments"></i> </div>
        <div class="details">
          <div class="number"> A/B/C/D </div>
          <div class="desc"> DRIVING GRADE </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat red-intense">
        <div class="visual"> <i class="fa fa-bar-chart-o"></i> </div>
        <div class="details">
          <div class="number"> 130 KM/H </div>
          <div class="desc">FASTEST SPEED </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-haze">
        <div class="visual"> <i class="fa fa-shopping-cart"></i> </div>
        <div class="details">
          <div class="number"> 60 KM/H </div>
          <div class="desc"> AVERAGE SPEED </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat purple-plum">
        <div class="visual"> <i class="fa fa-globe"></i> </div>
        <div class="details">
          <div class="number"> 25 Min </div>
          <div class="desc"> MAX LANDING</div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>
  </div>
   		
        
      
      
      
      
      
    </div>
    <!-- END SAMPLE FORM PORTLET--> 
    
  </div>
</div>
</div>
<script>
	ComponentsPickers.init(); // init todo page
</script> 
