<div class="page-bar">
  <ul class="page-breadcrumb">
    <li> <i class="fa fa-home"></i> <a href="#/dashboard">Home</a> <i class="fa fa-angle-right"></i> </li>
    <li> <a href="#/singleDevice">Single Devices Root</a> </li>
  </ul>
</div>
<h3 class="page-title"> Single Devices Root </h3>

<div ng-controller="SingleDeviceController"> 

  <div class="row">

    <div class="col-sm-2">
      <div class="dashboard-stat  blue-madison">
        <div class="visual"> <i class="fa fa-comments"></i> </div>
        <div class="details">
          <div class="number"> {{stats.alerts}} </div>
          <div class="desc"> Alert </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat  red-intense">
        <div class="visual"> <i class="fa fa-bar-chart-o"></i> </div>
        <div class="details">
          <div class="number"> {{stats.totalKms}} </div>
          <div class="desc"> Total Kms </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat  green-haze">
        <div class="visual"> <i class="fa fa-shopping-cart"></i> </div>
        <div class="details">
          <div class="number"> {{stats.landing_hrs}} Hrs </div>
          <div class="desc"> Landing Time </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat  purple-plum">
        <div class="visual"> <i class="fa fa-globe"></i> </div>
        <div class="details">
          <div class="number"> {{stats.utilization}}% </div>
          <div class="desc"> Utilization % P/D </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>


    <div class="col-sm-2" >
      <input class="knob"
      data-angleoffset=-125 data-anglearc=250 data-fgcolor="#66EE66" value="{{device.Speed}}" data-min="0" data-max="180" readonly data-width="150" data-height="150">
    </div>

    <div class="col-md-2">
      <div class="margin-top-20">
        <input id="range_6" type="text" name="range_6" value=""  data-slider-orientation="vertical" data-min="0" data-max="100" data-from="{{device.Temprature}}" data-disable="true"/>
      </div>
    </div>


  </div>


  <div class="row">
    <h4 style="margin-left:1.3%;">History</h4>
    <form action="#" class="form-inline" style="margin-left:1.3%">
      <div class="form-group">
        <div class="input-group date-picker input-daterange" data-date="10/11/2012" data-date-format="dd/mm/yyyy">
          <input type="text" class="form-control" name="from" placeholder="Date From">
          <span class="input-group-addon">to </span>
          <input type="text" class="form-control" name="to" placeholder="Date to">
        </div>
      </div>
      <button class="btn btn-large yellow table-group-action-submit"><i class="fa fa-check"></i> Go</button>
    </form>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-9 clearfix"> 
      <!-- BEGIN MARKERS PORTLET-->
      <div class="portlet solid green">
        <div class="portlet-title">
          <div class="caption"> <i class="fa fa-gift"></i>Live Device Location </div>
        </div>
        <div class="portlet-body">
          <div id="gmap_marker" class="gmaps"></div>
        </div>
      </div>
      <!-- END MARKERS PORTLET--> 
    </div>

    <div class="col-md-3 clearfix">
      <div class="portlet box blue-hoki">
        <div class="portlet-title">
          <div class="caption"> <i class="fa fa-gift"></i> Trip Details </div>
        </div>
        <div class="portlet-body"> 
          <div class="mx-height-500">
            <div class="scroller" style="height: 500px;" data-always-visible="1" data-rail-visible="0">
              <ul class="feeds tripHistory">
                <li ng-repeat="trip in trips" ng-click="goToHistoryPage(trip.trip_id)">
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div class="date"><sub>{{timeFormat(trip.endTime)}}<br/>{{dateFormat(trip.endTime)}}</sub></div>
                      <br/>
                      <div class="date"><sub>{{timeFormat(trip.startTime)}}<br/>{{dateFormat(trip.startTime)}}</sub></div>
                    </div>
                    <div class="cont-col2 col-sm-offset-1" >
                      <div class="desc">
                        <div class="destination">{{trip.destination}}</div>
                        <div class="stats"> <small> {{trip.km}}km &nbsp; {{trip.fuelAvg}}km/l  &nbsp; {{trip.duration}}</small></div>
                        <div class="source">{{trip.source}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                </li>
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div>

  </div>
</div>
<!-- END MAIN CONTENT --> 

<script>
ComponentsPickers.init();
TableAdvanced.init();
ComponentsKnobDials.init(); 
ComponentsIonSliders.init();
</script>
