<!-- BEGIN PAGE HEADER-->

<div class="page-bar">
  <ul class="page-breadcrumb">
    <li> <i class="fa fa-home"></i> <a href="#/dashboard">Home</a> <i class="fa fa-angle-right"></i> </li>
    <li> <a href="#/singleDevice">Single Devices Root</a> </li>
  </ul>
</div>
<h3 class="page-title"> Single Devices Root </h3>
<!-- END PAGE HEADER--> 
<!-- BEGIN MAIN CONTENT -->

<div ng-controller="SingleDeviceController"> 

  <!-- BEGIN DASHBOARD STATS -->
  <div class="row">

    <div class="col-sm-2">
      <div id="div_speedometer"> 
      </div>
    </div>
    
    <div class="col-sm-1"></div>

    <div class="col-sm-2">
      <div class="dashboard-stat  blue-madison">
        <div class="visual"> <i class="fa fa-comments"></i> </div>
        <div class="details">
          <div class="number"> {{stats.alerts}} </div>
          <div class="desc"> Alert </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat  red-intense">
        <div class="visual"> <i class="fa fa-bar-chart-o"></i> </div>
        <div class="details">
          <div class="number"> {{stats.totalKms}} </div>
          <div class="desc"> Total Kms </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat  green-haze">
        <div class="visual"> <i class="fa fa-shopping-cart"></i> </div>
        <div class="details">
          <div class="number"> {{stats.landing_hrs}} Hrs </div>
          <div class="desc"> Total Landing Time </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>

    <div class="col-sm-2">
      <div class="dashboard-stat  purple-plum">
        <div class="visual"> <i class="fa fa-globe"></i> </div>
        <div class="details">
          <div class="number"> {{stats.utilization}}% </div>
          <div class="desc"> Utilization % P/D </div>
        </div>
        <a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i> </a> </div>
    </div>
  </div>


    <div class="row ">
      <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
          <div class="portlet-title">
            <div class="caption">
              <i class="icon-cursor font-purple-intense hide"></i>
              <span class="caption-subject font-purple-intense bold uppercase">General Stats</span>
            </div>
            <div class="actions">
              <a href="javascript:;" class="btn btn-sm btn-circle btn-default easy-pie-chart-reload">
                <i class="fa fa-repeat"></i> Reload </a>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-md-4">
                <div class="easy-pie-chart">
                  <div class="number transactions" data-percent="55">
                    <span>{{stats.transactions}}</span>
                  </div>
                  <a class="title" href="javascript:;">
                    Transactions <i class="icon-arrow-right"></i>
                  </a>
                </div>
              </div>
              <div class="margin-bottom-10 visible-sm">
              </div>
              <div class="col-md-4">
                <div class="easy-pie-chart">
                  <div class="number visits" data-percent="85">
                    <span>{{stats.newVisits}}</span>
                  </div>
                  <a class="title" href="javascript:;">
                    New Visits <i class="icon-arrow-right"></i>
                  </a>
                </div>
              </div>
              <div class="margin-bottom-10 visible-sm">
              </div>
              <div class="col-md-4">
                <div class="easy-pie-chart">
                  <div class="number bounce" data-percent="46">
                    <span>{{stats.bounce}}</span>
                  </div>
                  <a class="title" href="javascript:;">
                    Bounce <i class="icon-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>			
    </div>

    <!-- END DASHBOARD STATS -->


    <div class="row">
      <div class="col-md-12 margin-top-10 margin-bottom-10 clearfix">
        <div class="col-md-3">
          <p class="form-control-static">
          Show Route History From:
          </p>
        </div>

        <div class="col-md-6">
          <div class="input-group date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
            <input type="text" class="form-control" name="from" placeholder="Date From">
            <span class="input-group-addon">to </span>
            <input type="text" class="form-control" name="to" placeholder="Date to">
          </div>
        </div>

        <div class="col-md-2">
          <button class="btn btn-large yellow table-group-action-submit"><i class="fa fa-check"></i> Go</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 clearfix"> 
        <!-- BEGIN MARKERS PORTLET-->
        <div class="portlet solid green">
          <div class="portlet-title">
            <div class="caption"> <i class="fa fa-gift"></i>Live Device Location </div>
            <div class="tools"> 
              <a href="javascript:;" class="collapse"> </a> 
              <a href="#portlet-config" data-toggle="modal" class="config"> </a> 
              <a href="javascript:;" class="reload"> </a> 
              <a href="javascript:;" class="remove"> </a> 
            </div>
          </div>
          <div class="portlet-body">
            <div id="gmap_marker" class="gmaps"></div>
        </div>
      </div>
      <!-- END MARKERS PORTLET--> 
    </div>
    <div class="col-md-3 clearfix">
      <div class="portlet box blue-hoki">
        <div class="portlet-title">
          <div class="caption"> <i class="fa fa-gift"></i> Trip Details </div>
        </div>
        <div class="portlet-body"> 
          <div class="mx-height-300">
            <a ng-repeat="trip in trips" href="#singleDeviceHistory?trip_id={{trip.trip_id}}" class="btn green btn-block margin-left-0">{{trip.source }} to {{trip.destination}}  </a> 
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class="portlet box blue-madison">
    <div class="portlet-title">
      <div class="caption"> <i class="fa fa-globe"></i>All Device Details </div>
      <div class="tools"> <a href="javascript:;" class="reload"> </a> <a href="javascript:;" class="remove"> </a> </div>
    </div>
    <div class="portlet-body">
      <table class="table table-striped table-bordered table-hover" id="sample_1">
        <thead>
          <tr>
            <th>Info Recived Time </th>
            <th> Acc On/Off </th>
            <th> Location </th>
            <th> Speed </th>
            <th> Rpm </th>
            <th> Latitude </th>
            <th> Longitude </th>
            <th> Temprature </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{device.RecivedTime}}</td>
            <td>{{device.AccOnOff}}</td>
            <td>{{device.Location}} </td>
            <td>{{device.Speed}} </td>
            <td>{{device.Rpm}} </td>
            <td>{{device.Lat}}</td>
            <td>{{device.Lng}}</td>
            <td>{{device.Temprature}}</td>
        </tbody>
      </table>
    </div>
  </div>

</div>
<!-- END MAIN CONTENT --> 

<script>
  ComponentsPickers.init();
  TableAdvanced.init();
</script>
