<div class="page-sidebar navbar-collapse collapse">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
		
		<li class="start">
			<a href="#/dashboard">
			<i class="icon-home"></i>
			<span class="title">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-settings"></i>
			<span class="title"> Devices</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/singleDevice">
					<i class="icon-puzzle"></i> Single Device</span>
					</a>
				</li>
				<li>
					<a href="#/singleDeviceHistory">
					<i class="icon-paper-clip"></i> Single Device History</span>
					</a>
				</li>
				<li>
					<a href="#/addDevice">
					<i class="icon-check"></i> Add New Device</span>
					</a>
				</li>
                <li>
					<a href="#/addEmail">
					<i class="icon-check"></i> Add Email/Phone</span>
					</a>
				</li>
			</ul>
		</li>
        
        <li>
			<a href="javascript:;">
			<i class="icon-settings"></i>
			<span class="title"> Vehicle Group</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
                <li>
					<a href="#/vehicleGroup">
					<i class="icon-check"></i> Add/Edit Vehicle Group</span>
					</a>
				</li>
				<li>
					<a href="#/alertVehicleGroup">
					<i class="icon-paper-clip"></i> Alert Vehicle Group</span>
					</a>
				</li>
				<li>
					<a href="#/eventVehicleGroup">
					<i class="icon-check"></i> Event Vehicle Group</span>
					</a>
				</li>
                <li>
					<a href="#/drivingBoard">
					<i class="icon-check"></i> Driving Board</span>
					</a>
				</li>
                
			</ul>
		</li>
        
        
		<!--<li>
			<a href="javascript:;">
			<i class="icon-wrench"></i>
			<span class="title">jQuery Plugins</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/form-tools">
						<i class="icon-puzzle"></i> Form Tools
					</a>
				</li>
				<li>
					<a href="#/pickers">
						<i class="icon-calendar"></i> Date & Time Pickers
					</a>
				</li>
				<li>
					<a href="#/dropdowns">
						<i class="icon-refresh"></i> Custom Dropdowns
					</a>
				</li>
				<li>
					<a href="#/tree">
						<i class="icon-share"></i> Tree View
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="icon-briefcase"></i> Datatables
						<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="#/datatables/advanced.html">
							<i class="icon-tag"></i> Advanced Datatables
							</a>
						</li>
						<li>
							<a href="#/datatables/ajax.html">
							<i class="icon-refresh"></i> Ajax Datatables
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>-->
		
		<!--<li>
			<a href="#/todo">
			<i class="icon-check"></i>
			<span class="title">Task & Todo</span>
			</a>
		</li>-->
		
	</ul>
	<!-- END SIDEBAR MENU -->
</div>	