<div class="page-sidebar">
  <ul class="page-sidebar-menu">
    <li class="start"><a href="#/dashboard"><i class="icon-home"></i><span class="title">Dashboard</span></a></li>
    <li class="start"><a href="#/alerts"><i class="icon-bell"></i><span class="title">alerts</span></a></li>
    <li>
      <a href="javascript:;"><i class="icon-settings"></i><span class="title"> Fleets</span><span class="arrow "></span></a>
      <ul class="sub-menu">
        <li><a href="#/singleDevice"><i class="icon-puzzle"></i> Single Fleet</span></a></li>
        <li><a href="#/singleDeviceHistory"><i class="icon-paper-clip"></i> Single Fleet History</span></a></li>
        <li><a href="#/addDevice"><i class="icon-check"></i> Add New Fleet</span></a></li>
        <li><a href="#/addEmail"><i class="icon-check"></i> Add Email/Phone</span></a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:;"><i class="icon-settings"></i><span class="title"> Vehicle Group</span><span class="arrow "></span></a>
      <ul class="sub-menu">
        <li><a href="#/vehicleGroup"><i class="icon-check"></i> Add/Edit Vehicle Group</span></a></li>
        <li><a href="#/alertVehicleGroup"><i class="icon-paper-clip"></i> Alert Vehicle Group</span></a></li>
        <li><a href="#/eventVehicleGroup"><i class="icon-check"></i> Event Vehicle Group</span></a></li>
        <li><a href="#/drivingBoard"><i class="icon-check"></i> Driving Board</span></a></li>
      </ul>
    </li>
  </ul>
</div>	
